<head>
</head>

<body>
  <% @corporations.each do |corporation| %>
    <li>
      <%= @corporations.name %>
    </li>
  <% end %>
  <%= link_to 'Add New Corporation', new_corporation_path, class: 'small button' %>
</body>
