<body>
  <div>
    <%= @corporation.corporation_name %></br>

    <%= @corporation.id %>
  </div>
  <div>
    <%= link_to 'Edit Corporation', edit_corporation_path(@corporation.id), class: 'small button' %>
    <%= link_to 'Add new financial period activity', new_corporation_trial_balance_path(@corporation.id), class: 'small button' %>
  </div>
</body>
